body{
	width: 680px;
	/*display: block;*/
	margin: auto;

}

h1{
	text-align: center;
	padding-top: 30px;
}

.links{
	width: 300px;
	text-align: center;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
    margin-left: 25px;
}



.newmeal{
	width: 300px;
	margin: auto;
}

.earnings{
	width: 300px;
	margin: auto;
}
.formone{
	border: solid black 2px;
	width: 280px;
	height: 230px;
	padding: 20px;
	text-align: right;
	float: left;
	margin-right: 30px;
}


.formone h2{
	border-bottom: solid black 2px;
	text-align: center;


}


.button{
	margin-top: 30px;
	padding-right: 62px;
}
.buttonTwo{
	margin-left: 150px;
}

.formtwo{
	border: solid black 2px;
	width: 280px;
	height: 170px;
	padding: 20px;
	text-align: right;
	float: left;
	margin-right: 30px;
}

.formtwo h2{
	border-bottom: solid black 2px;
	text-align: center;

}

.total{
	border-top: solid black 2px;
	padding-top: 10px;
}
