body{
	width: 650px;
	/*display: block;*/
	margin: auto;

}

h1{
	text-align: center;
}

.formone{
	border: solid black 2px;
	width: 250px;
	height: 400px;
	padding: 20px;
	text-align: right;
	float: left;
	margin-right: 30px;
}

.formone h2{
	border-bottom: solid black 2px;
	text-align: center;

}


.button{
	margin-top: 100px;
	padding-right: 62px;
	

}

.formtwo{
	border: solid black 2px;
	width: 250px;
	height: 170px;
	padding: 20px;
	text-align: right;
	float: left;
	margin-right: 30px;
}

.formtwo h2{
	border-bottom: solid black 2px;
	text-align: center;

}

.total{
	border-top: solid black 2px;
	padding-top: 10px;
}